* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-left: 10px;
}

.btn-add {
  margin-right: 10px;
}

.list-emp {
  width: 96%;
  margin-left: 20px;
}

form {
  margin-left: 50px;
}

#form-search {
  margin-left: 700px;
}

#search-input {
  text-align: left;
}

#radios {
  width: 20px;
  height: 16px;
  margin-left: -26px;
}

.group-radio {
  margin-left: 40px;
  margin-right: 50px;
}

#radios1 {
  width: 20px;
  height: 16px;
  margin-left: -26px;
}

#tag-birth {
  margin-left: 62px;
  color: green;
}
#gender {
  margin-right: 10px;
}

#tag-gender {
  color: green;
}

.card-info {
  width: 30rem;
  margin-left: 120px;
  margin-bottom: 20px;
}

.btn-back {
  margin-left: 30px;
  margin-bottom: 1px;
}

.btn-delete {
  margin-left: 50px;
}

.btn-update {
  margin-left: 90px;
  margin-right: 40px;
}

.btn-wrapper {
  margin-left: 40%;
}

.btn-paging {
  color: white;
  font-size: 16px;
  background-color: #4456f7;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.btn-paging:hover {
  background-color: #1709e2;
}

.btn-paging:focus {
  outline: none;
}

.btn-paging:active {
  background-color: #2b04db;
}

.btn-paging:disabled {
  background: #ada6a6;
}
